{% extends 'Drive_app_Html/main.html' %}
{% load static %}
{% block content %}

{#    <!DOCTYPE html>#}
{#    <html lang="en">#}
{##}
{#    <head>#}
{#        <meta charset="UTF-8">#}
{#        <title>Title</title>#}
{##}
{#        <link rel="stylesheet"#}
{#              type="text/css" href="{% static 'css/main.css' %}">#}
{##}
{#    </head>#}
{##}
{##}
{##}
{#    <body>#}

    <div class="row">
        <div class="col-lg-4">
            <img class= "thumbnail" src="{% static 'image/ankara fabric._4.jpg' %}">
            <div class="box-element product">
                <h6><strong>Product</strong></h6>
                <hr>
                 <button class="btn btn-outline-secondary add-btn">
                    Add to cart</button>
                <a class="btn btn-outline-success" href="#">View</a>
                <h4 style="display: inline-block; float: right">$20</h4>

            </div>

        </div>

        <div class="col-lg-4">
            <img class= "thumbnail" src="{% static 'image/ankara fabric._3.jpg' %}">
            <div class="box-element product">
                <h6><strong>Product</strong></h6>
                <hr>
                <button class="btn btn-outline-secondary add-btn">
                    Add to cart</button>
                 <a class="btn btn-outline-success" href="#">View</a>
                <h4 style="display: inline-block; float: right">$20</h4>
            </div>
        </div>


        <div class="col-lg-4">
            <img class= "thumbnail" src="{% static 'image/ankara fabric._2jpg.jpg' %}">
            <div class="box-element product">
                <h6><strong>Product</strong></h6>
                <hr>
                 <button class="btn btn-outline-secondary add-btn">
                    Add to cart</button>
                 <a class="btn btn-outline-success" href="#">View</a>
                 <h4 style="display: inline-block; float: right">$20</h4>
            </div>
        </div>


        <div class="col-lg-4">
            <img  class="thumbnail" src="{% static 'image/ankara fabric._5jpg.jpg' %}">
            <div class="box-element product">
                <h6><strong>Product</strong></h6>
                <hr>
                <button class="btn btn-outline-secondary add-btn">
                    Add to cart
                </button>
                 <a class="btn btn-outline-success" href="#">View</a>
                 <h4 style="display: inline-block; float: right">$20</h4>
            </div>
        </div>


         <div class="col-lg-4">
            <img class= "thumbnail" src="{% static 'image/ankara fabric._6.jpg' %}">
            <div class="box-element product">
                <h6><strong>Product</strong></h6>
                <hr>
                 <button class="btn btn-outline-secondary add-btn">
                    Add to cart</button>
                 <a class="btn btn-outline-success" href="#">View</a>
                 <h4 style="display: inline-block; float: right">$20</h4>


            </div>

        </div>



         <div class="col-lg-4">
            <img class= "thumbnail" src="{% static 'image/ankara fabric._7.jpg' %}">
            <div class="box-element product">
                <h6><strong>Product</strong></h6>
                <hr>
                 <button class="btn btn-outline-secondary add-btn">
                    Add to cart</button>
                 <a class="btn btn-outline-success" href="#">View</a>
                 <h4 style="display: inline-block; float: right">$20</h4>


            </div>

        </div>



         <div class="col-lg-4">
            <img class= "thumbnail" src="{% static 'image/ankara fabric._8.jpg' %}">
            <div class="box-element product">
                <h6><strong>Product</strong></h6>
                <hr>
                 <button class="btn btn-outline-secondary add-btn">
                    Add to cart</button>
                 <a class="btn btn-outline-success" href="#">View</a>
                 <h4 style="display: inline-block; float: right">$20</h4>


            </div>

        </div>




        <div class="col-lg-4">
            <img class= "thumbnail" src="{% static 'image/ankara fabric._9.jpg' %}">
            <div class="box-element product">
                <h6><strong>Product</strong></h6>
                <hr>
                 <button class="btn btn-outline-secondary add-btn">
                    Add to cart</button>
                 <a class="btn btn-outline-success" href="#">View</a>
                 <h4 style="display: inline-block; float: right">$20</h4>


            </div>

        </div>




        <div class="col-lg-4">
            <img class= "thumbnail" src="{% static 'image/ankara fabric._10.jpg' %}">
            <div class="box-element product">
                <h6><strong>Product</strong></h6>
                <hr>
                <button class="btn btn-outline-secondary add-btn">
                    Add to cart</button>
                 <a class="btn btn-outline-success" href="#">View</a>
                 <h4 style="display: inline-block; float: right">$20</h4>
            </div>
        </div>

{#    </div>#}


        <div class="col-lg-4">
            <img class= "thumbnail" src="{% static 'image/ankara fabric._11.jpg' %}">
            <div class="box-element product">
                <h6><strong>Product</strong></h6>
                <hr>
                 <button class="btn btn-outline-secondary add-btn">
                    Add to cart</button>
                 <a class="btn btn-outline-success" href="#">View</a>
                 <h4 style="display: inline-block; float: right">$20</h4>
            </div>
        </div>



        <div class="col-lg-4">
            <img class= "thumbnail" src="{% static 'image/ankara fabric._12.jpg' %}">
            <div class="box-element product">
                <h6><strong>Product</strong></h6>
                <hr>
                <button class="btn btn-outline-secondary add-btn">
                    Add to cart</button>
                 <a class="btn btn-outline-success" href="#">View</a>
                 <h4 style="display: inline-block; float: right">$20</h4>
            </div>
        </div>



        <div class="col-lg-4">
            <img class= "thumbnail" src="{% static 'image/ankara fabric._13.jpg' %}">
            <div class="box-element product">
                <h6><strong>Product</strong></h6>
                <hr>
                <button class="btn btn-outline-secondary add-btn">
                    Add to cart</button>
                 <a class="btn btn-outline-success" href="#">View</a>
                 <h4 style="display: inline-block; float: right">$20</h4>
            </div>
         </div>


        <div class="col-lg-4">
            <img class= "thumbnail" src="{% static 'image/ankara fabric._14.jpg' %}">
            <div class="box-element product">
                <h6><strong>Product</strong></h6>
                <hr>
                <button class="btn btn-outline-secondary add-btn">
                     Add to cart</button>
                 <a class="btn btn-outline-success" href="#">View</a>
                 <h4 style="display: inline-block; float: right">$20</h4>
            </div>
         </div>



        <div class="col-lg-4">
            <img class= "thumbnail" src="{% static 'image/ankara fabric._15.jpg' %}">
            <div class="box-element product">
                <h6><strong>Product</strong></h6>
                <hr>
                <button class="btn btn-outline-secondary add-btn">
                    Add to cart</button>
                <a class="btn btn-outline-success" href="#">View</a>
                <h4 style="display: inline-block; float: right">$20</h4>
            </div>
        </div>


        <div class="col-lg-4">
            <img class= "thumbnail" src="{% static 'image/ankara fabric._16.jpg' %}">
            <div class="box-element product">
                <h6><strong>Product</strong></h6>
                <hr>
                <button class="btn btn-outline-secondary add-btn">
                    Add to cart</button>
                 <a class="btn btn-outline-success" href="#">View</a>
                 <h4 style="display: inline-block; float: right">$20</h4>
            </div>
        </div>



    <div class="col-lg-4">
        <img class="thumbnail" src="{% static 'image/ankara fabric._17.jpg' %}">
        <h6><strong>Product</strong></h6>
        <hr>
        <button class="btn btn-outline-secondary add-btn">
            Add to cart</button>
        <a class="btn btn-outline-success" href="#">View</a>
        <h4 style="display: inline-block; float: right">$20</h4>
    </div>



    <div class="col-lg-4">
        <img class= "thumbnail" src="{% static 'image/ankara fabric._18.jpg' %}">
        <div class="box-element product">
            <h6><strong>Product</strong></h6>
            <hr>
            <button class="btn btn-outline-secondary add-btn">
                Add to cart</button>
            <a class="btn btn-outline-success" href="#">View</a>
            <h4 style="display: inline-block; float: right">$20</h4>
        </div>
    </div>


    <div class="col-lg-4">
        <img class="thumbnail" src="{% static 'image/ankara fabric._19.jpg' %}">
        <div class="box-element product">
            <h6><strong>Product</strong></h6>
            <hr>
            <button class="btn btn-outline-secondary add-btn">
                Add to cart</button>
            <a class="btn btn-outline-success" href="#">View</a>
            <h4 style="display: inline-block; float: right">$20</h4>
        </div>
    </div>


   <div class="col-lg-4">
        <img class= "thumbnail" src="{% static 'image/ankara fabric._20.jpg' %}">
         <div class="box-element product">
            <h6><strong>Product</strong></h6>
            <hr>
            <button class="btn btn-outline-secondary add-btn">
                Add to cart</button>
            <a class="btn btn-outline-success" href="#">View</a>
            <h4 style="display: inline-block; float: right">$20</h4>
        </div>
   </div>



   <div class="col-lg-4">
       <img class= "thumbnail" src="{% static 'image/new ankara.jpg' %}">
       <div class="box-element product">
           <h6><strong>Product</strong></h6>
           <hr>
           <button class="btn btn-outline-secondary add-btn">
               Add to cart</button>
           <a class="btn btn-outline-success" href="#">View</a>
           <h4 style="display: inline-block; float: right">$20</h4>
       </div>
   </div>


   <div class="col-lg-4">
       <img class= "thumbnail" src="{% static 'image/new ankara2.jpg' %}">
       <div class="box-element product">
           <h6><strong>Product</strong></h6>
           <hr>
           <button class="btn btn-outline-secondary add-btn">
               Add to cart</button>
           <a class="btn btn-outline-success" href="#">View</a>
           <h4 style="display: inline-block; float: right">$20</h4>
       </div>
   </div>



    </div>

{% endblock content %}

{#<img src="{% static 'image/phone_drive_technology.jpg' %}">#}

{#</body>#}
{#</html>#}